#niali{
    background-color: aqua;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group>input{
    border: 1px solid #ccc;
}

/* .content-add-manual-data{
    background-color: blanchedalmond;
} */