{% extends 'base.html' %}
{% block css_url %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pallete.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pred/form.css') }}">
{% endblock css_url %}

{% block content %}
<div class="flex justify-center w-full">
    <div class="w-4/5">
        <div id="content-header" class="w-full bg-header-predictions-color rounded-md p-6 mb-8">
            <h1 class="text-2xl font-bold font-predictions-color-header">Stagingg Area Input Data</h1>
            <!-- <p class="text-slate-50 mt-3 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nesciunt. -->
            </p>
        </div>
        <form action="" method="post">
            <div class="flex justify-start mx-5 my-2">
                <a href="{{ url_for('land_predict.add_manual_data') }}"
                    class="flex font-color-link text-sm font-semibold justify-between items-center gap-x-2 ps-4 pe-5 py-1 border-oren bg-white rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path
                            d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                    <span>ADD</span>
                </a>
                <!--  string adalah  -->

                
                    <select name="alghrotim" class="flex ml-2 font-color-link text-sm font-semibold justify-between items-center gap-x-2 ps-4 pe-5 py-1 border-oren bg-white rounded">
                        <option value="knn">K-Nearest Neighbors</option>
                        <option value="dt">Decision Tree</option>
                        <option value="rf">Random Forest</option>
                    </select>
                    

            </div>

            <div class="overflow-x-auto shadow-md sm:rounded-lg px-5 py-3 scrollbar-hide md:scrollbar-default">
                <table class="bg-white w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-center text-white uppercase">
                        <tr id="tr-thead">
                            
                        </tr>
                    </thead>
                    <tbody class="text-center" id="tbody">

                    </tbody>
                </table>
            </div>

            <!-- Menyimpan URL dalam atribut data -->
            <!-- <div id="updLinkData" data-url="{{ url_for('land_predict.update_manual_data', dataset=data_test_json) }}" style="display: none;"></div> -->
            <div id="updLinkData" data-url="{{ url_for('land_predict.update_manual_data') }}" style="display: none;"></div>
            <div id="dltLinkData" data-url="{{ url_for('land_predict.delete_manual_data') }}" style="display: none;"></div>
            <div class="flex justify-end me-14 my-5 -mr-0.5">
                <button type="submit" class="px-8 py-3 rounded bg-button-user-color font-medium text-slate-100">Jalankan</button>
            </div>
           
        </form>
        <!-- map content -->
        <div id="map-info">
            <div class="flex mt-10">
                <h1 class="text-lg font-bold font-predictions-color-header">Peta Sebaran Bawang Merah</h1>
            </div>
            <div class="flex justify-center">
                <div id="map" class="w-11/12 m-3 my-7 shadow-md rounded-md flex items-center" style="min-height: 380px;">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-10 mb-0 py-10 font-base-color bg-predictions-content-color" id="informations">
    <div class="w-4/5 flex justify-center">
        <div>
            <div class="flex gap-x-2 items-center mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
                <h3 class="text-xl font-semibold">Informasi</h3>
            </div>

            <ul class="list-disc ms-8" id="info-parameter">
                <li>hum = humidty (kelembaban tanah)</li>
                <li>soil_nitro = soil nitrogen (nitrogen)</li>
                <li>soil_phos = soil phospor (fosfor)</li>
                <li>soil_pot = soil potassium (kalium)</li>
                <li>soil_temp = soil temperature (temperatur tanah)</li>
                <li>soil_ph = Ph tanah</li>
                <li>temp = temperature (temperatur)</li>
            </ul>
        </div>

    </div>
</div>

<script>
    var data_test = JSON.parse('{{ data_test | safe }}');

    const tbody = document.getElementById('tbody');
    const thead = document.getElementById('tr-thead');

    var columns = ['area', 'hum', 'soil_nitro1', 'soil_phos1', 'soil_pot1', 'soil_temp1', 'soil_ph1', 'temp', 'action']

    for (let i = 0; i < columns.length; i++) {
        var th = document.createElement('th');
        th.setAttribute('scope', 'col')
        th.setAttribute('class', 'px-6 py-3')
        th.innerText = columns[i];
        thead.appendChild(th);
    }

    // ini untuk body

    for (property in data_test) {
        var trbody = document.createElement('tr');
        trbody.setAttribute('class', 'bg-white border-b');
        // console.log(data_test[property]['id_m']);
        for (nilai in data_test[property]) {
            if (nilai == 'id_m') {
                continue;
            }
            var id_m = data_test[property]['id_m'];
            var td = document.createElement('td');
            td.setAttribute('class', 'px-6 py-4 whitespace-nowrap')
            // td.innerText = `${data_test[property][nilai]}`;
            trbody.appendChild(td);
            if (nilai == 'area') {
                var a = document.createElement('a');
                // console.log(a);
                a.setAttribute('href', `/land_predict/add-manual-data/add-area/${id_m}`);
                a.setAttribute('class', 'font-bold hover:text-primary-color-dark');
                a.innerText = data_test[property][nilai];
                td.appendChild(a);
            } else {
                td.innerText = `${data_test[property][nilai]}`;
            }
        }

        // ini untuk icon trash dan update
        // update button
        var urlUpd = updLinkData.getAttribute('data-url');
        var urlDlt = dltLinkData.getAttribute('data-url');

        var actionTd = document.createElement('td');
        actionTd.setAttribute('class', 'flex justify-center gap-1 pt-4');

        var updLink = document.createElement('a')
        updLink.setAttribute('href', urlUpd + '?id_m=' + id_m);
        var buttonUpd = document.createElement('button');
        // var updIcon = document.createElement('i');
        // updIcon.classList.add('fa-regular', 'fa-pen-to-square');
        var updIcon = document.createElement('img');
        updIcon.setAttribute('src', "{{ url_for('static', filename='img/icon/ubah.png') }}");
        updIcon.setAttribute('class', 'w-5 h-5');
        buttonUpd.appendChild(updLink);
        updLink.appendChild(updIcon);
        // actionTd.appendChild(buttonUpd);
        actionTd.appendChild(updLink);
        // delete button
        var dltLink = document.createElement('a');
        dltLink.setAttribute('href', urlDlt + '?id_m=' + id_m);
        var buttonDlt = document.createElement('button');
        var dltIcon = document.createElement('img');
        // dltIcon.classList.add('fa-solid', 'fa-trash');
        dltIcon.setAttribute('src', "{{ url_for('static', filename='img/icon/hapus.png') }}");
        dltIcon.setAttribute('class', 'w-5 h-5');
        buttonDlt.appendChild(dltLink);
        dltLink.appendChild(dltIcon);
        // actionTd.appendChild(buttonDlt);
        actionTd.appendChild(dltLink);
        trbody.appendChild(actionTd);

        // delete button
        tbody.appendChild(trbody);
    }
    // map
    var area = JSON.parse('{{ area | safe }}');
    console.log(area);
    var map = L.map('map').setView([area[0].area_latitude, area[0].area_longitude], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

   
    console.log();
    for (let i = 0; i < area.length; i++) {
        var marker = L.marker([area[i].area_latitude, area[i].area_longitude]).addTo(map);
        marker.bindPopup(`<b>${area[i].area_name}`).openPopup();
    }
    var popup = L.popup();

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("Lokasi: " + e.latlng.toString())
            .openOn(map);
    }

    map.on('click', onMapClick);

</script>

{% endblock content %}

