{% extends 'user.html' %}
{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/data_sample.css') }}">
{% endblock css_link %}

{% block content %}
<div id="content">
    <div id="header" class="bgsection flex flex-col justify-center h-60">
        <h1 class="text-center text-4xl font-extrabold">Machine Learning</h1>
    </div>
    <div id="content-data-sample">
        <div class="m-7 mx-12">
            <p class="indent-8 text-wrap text-justify"> Machine learning merupakan teknologi yang 
                memungkinkan mesin untuk belajar dari data yang kita berikan untuk melakukan tugas-tugas
                secara otomatis tanpa perlu di-program-ulang. Dalam arti yang sederhana, machine learning 
                mirip dengan cara belajar manusia, dimana mesin dapat belajar dari pengalaman masa lalu dan 
                meningkatkan akurasinya secara bertahap. Jadi machine juga bisa loh belajar dari masa lalunya 
                sama seperti kita manusia!</p><br>
            <p class="ms-10 ps-5 text-wrap text-justify border-s-4 border-orange-600">
                Nah, machine learning sendiri itu ada banyak sekali jenis algoritmanya mulai dari 
                supervised learning salah satu contohnya system klasifikasi, unsupervised learning, 
                dan ada juga deep learning. Algoritma tersebut digunakan untuk meningkatkan efisiensi 
                dan akurasi dalam berbagai aplikasi, seperti sistem peringkat film, analisis data kustomer, 
                bahkan pengelanan wajah juga bisa keren ya?
            </p><br>
            <p class="indent-8 text-wrap text-justify">
                Pada aplikasi ini juga menyediakan sistem klasifikasi machine learning, 
                sistem klasifikasi machine learning itu seperti apa sih? Jadi sistem klasifikasi 
                machine learning itu merupakan teknologi yang memungkinkan mesin untuk memprediksi kategori 
                atau label yang sesuai dengan data yang diberikan. Pada sistem klasifikasi algoritma machine learning 
                digunakan untuk mengklasifikasikan data yang menjadi kategori yang spesifik. Waduh bingung ga tu? 
                Okeoke yuk langsung aja kita liat dulu contohnya dari sistem klasifikasi itu seperti apasih?
            </p>
            <div class="flex justify-center">
                <img class="" src="{{ url_for('static', filename='img/user/Img_klasifikasi.png') }}" alt="">    
            </div>
            
            <p class="font-bold text-lg -ml-4">LANGKAH LANGKAH PENGGUNAAN SISTEM KLASIFIKASI</p>
            <ol class="list-decimal ml-4">
                <li class="font-bold text-lg">Persipakan Dataset</li>
                <p class="indent-8">
                    Langkah pertama adalah mempersiapkan dataset yang akan digunakan untuk proses klasifikasinya. 
                    Dataset ini harus terdiri dari data yang relevan dan memiliki label yang sesuai untuk kategori yang 
                    ingin diklasifikasikan. Dataset juga harus disimpan dalam format yang dapat. Pada aplikasi ini kategori 
                    atau parameter yang digunakan terdapat 7 diantaranya adalah:
                    <ol class="list-disc ml-4">
                    <li class="">Humidity [Kelembaban] tanah. Rentang normal 50 RH-70 RH.</li>
                    <li class="">Nitrogen. Rentang normal 0 - 248 kg/ha.</li>
                    <li class="">Phospor. Rentang normal 0 - 98 kg/ha P2O5.</li>
                    <li class="">Kalium. Rentang normal 0 - 103 kg/ha K2O.</li>
                    <li class="">Temperatur tanah. Rentang normal 25 - 32 oC.</li>
                    <li class="">Ph Tanah. Rentang normal 5.6 - 6.5.</li>
                    <li class="">Temperatur lingkungan. Rentang normal 25 - 32 oC.</li>
                    </ol>
                    Setelah di kumpulkan data data diatas selanjutnya file yang dapat diterima adalah file excel atau xlsx.
                </p><br>
                <li class="font-bold text-lg">Upload Dataset</li>
                <p class="indent-8">Langkah selanjutnya adalah mengupload dataset yang telah di persiapkan 
                    kedalam sistem klasifikasi seperti sebelumnya. Sistem pada aplikasi ini dilakukan melalui 
                    antarmuka pengguna yang dimana user dapat memilih file yang akan di hitung dan menguploadnya.</p><br>
                <li class="font-bold text-lg">Mesin Mengkalkulasi</li>
                <p class="indent-8">Setelah dataset yang sudah dibuat di upload selanjutnnya adalah 
                    memilih algoritma terlebih dahulu. Guna memilih algoritma itu apa sih? Sebetulnya fungsi 
                    dari fitur memilih algoritma sebelum di hitung dengan mesin adalah nantinya untuk membandingkan 
                    hasil dari algoritma 1 dengan algoritma lainnya. Jadi penyuluh atau pengguna dapat mempertimbangkan 
                    kembali melalui akurasi yang ada. Setelah memilih akan menggunakan algorima apa selanjutnya algoritma ini 
                    akan mempelajari pola-pola dalam data dan membuat prediksi berdasarkan analisis tersebut. Keren ya!
                </p><br>
                <li class="font-bold text-lg">Mesin Menampilkan Hasil</li>
                <p class="indent-8">Langkah terakhri adalah sistem klasifikasi pada aplikasi ini akan 
                    memberikan hasil prediksi yang telah dihitung. Dan hasil ini dapat dilihat pada tabel 
                    yang tertera dan terdapat penjelasan juga mengenai hasil tersebut. Selain itu hasil ini juga 
                    dapat diunduh!</p><br>
            </ol>
            <p class="indent-8 text-wrap text-justify">
                Nah penasaran kan, bagaimana aplikasi ini dapat memproses data dari lahan yang ada menjadi 
                informasi yang dapat digunakan untuk penggunaan lahan tersebut. Sistem klasifikasi ini adalah 
                sistem untuk mengukur kecocokan lahan khusus untuk tanaman bawang merah. Untuk dapat menggunakan 
                dan mencoba sistem klasifikasi yang ada pada aplikasi ini kalian perlu masuk terlebih dahulu. 
                Yuk segera coba sistem klasifikasinya!
            </p>
        </div>

        <div class="banner h-64 flex flex-col justify-center items-center">
            <h2 class="text-3xl text-white font-bold">Tertarik untuk mencoba machine learning?<a class="text-orange-600" href="{{ url_for('auth.sign_in') }}"> Masuk</a></h2>
        </div>
        
    </div>
</div>


{% endblock content %}