{% extends 'user.html' %}
{% block css_link %}
    <!-- link css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock css_link %}


{% block content %}
<div class="flex justify-around p-12" id="header">
    <div class="flex justify-around flex-col w-7/12" id="header-left-content">
        <div class="w-11/12">
            <span class="text-4xl font-bold text-move2">Sistem Klasifikasi Kecocokan Lahan Kecamatan Selaawi</span>
            <h3 class="text-xl font-light mt-3">Memprediksi kesesuaian lahan tani bawang merah di Kecamatan Selaawi.</h3>
        </div>
        <div>
            <button class="bg-button-user-color text-white font-bold py-2 px-6 mb-8 rounded"><a
                    href="{{ url_for('auth.sign_in') }}">Masuk</a></button>
        </div>

    </div>
    <div id="header-right-content">
        <img class="rounded-full w-24 h-10" src="{{ url_for('static', filename='img/user/1.png') }}" alt="">
    </div>
</div>

<!-- about-us -->
<div id="about-us">
    <div class="flex justify-center" id="about-us-header">
        <h1 class="text-3xl font-header-color my-10">Tentang Kami</h1>
    </div>
    <div class="flex p-7" id="about-us-content">
        <div class="basis-1/2 flex justify-center" id="about-us-content-left">
            <img class="w-9/12 rounded-md" src="{{ url_for('static', filename='img/user/aboutusGambar.png') }}"
                alt="">
        </div>
        <div class="basis-1/2" id="about-us-content-right">
            <p class="text-justify mt-5">Dalam aplikasi web kami, kami 
                menawarkan layanan yang bertujuan untuk membantu penyuluh bawang merah 
                dalam menemukan <b class="text-lime-900">kecocokan tanah yang ideal untuk tanaman bawang merah.</b> 
                Kami menggunakan <b class="text-lime-900">teknologi machine learning</b>  untuk menganalisis berbagai faktor tanah, 
                termasuk kandungan Nitro, Fosfor, Kalium, Ph, Kelembapan lingkungan, Kelembapan tanah dan Temperatur tanah.

            </p>
            <p class="text-justify mt-5">
                Dengan memasukkan data tentang tanah dari penyuluh, 
                aplikasi kami akan melakukan <b class="text-lime-900">analisis mendalam dan memberikan statement atau laporan yang memberi penyuluh 
                informasi tentang sejauh mana tanah tersebut cocok untuk bawang merah</b>. Laporan ini akan memberikan rekomendasi 
                tentang langkah-langkah yang dapat diambil untuk memperbaiki atau mempersiapkan tanah, jika diperlukan, untuk mencapai
                hasil panen yang optimal.
            </p>
        </div>
    </div>
</div>
<!-- end-about-us -->
<!-- education selaawi -->
<div class="bg-quaternary-color pb-8" id="education-selaawi">
    <div class="flex justify-center" id="about-us-header">
        <h1 class="text-3xl font-header-color my-10">Edukasi Tanera</h1>
    </div>
    <div class="flex justify-center gap-x-16 p-9 pt-1">
        <div class="basis-1/4 flex flex-col items-center gap-y-4 bg-white drop-shadow-md p-8 rounded-md" id="edu-data">
            <!-- icon data sample -->
            <div class="h-2/5 flex items-center">
                <img src="{{ url_for('static', filename='img/user/data_sample_new.png') }}" alt="">
            </div>
            <!-- end icon data sample -->
            <h1 class="font-bold text-2xl">Dataset</h1>
            <p class="text-center font-light">Sekumpulan atau himpunan data yang disajikan dalam pola tabel. </p>
            <a href="{{ url_for('predictions') }}">
                <div class="read-more-button flex align-middle justify-center">
                    <button><a href="{{ url_for('predictions') }}" class="font-semibold text-3xl text-white">Selengkapnya</a></button>
                </div>
            </a>
        </div>
        <div class="basis-1/4 flex flex-col items-center gap-y-4 bg-white drop-shadow-md p-8 rounded-md" id="edu-data">
            <!-- icon data sample -->
            <div class="h-2/5 flex items-center">
                <img src="{{ url_for('static', filename='img/user/prediction_new.png') }}" alt="">
            </div>
            <!-- end icon data sample -->
            <h1 class="font-bold text-2xl">Machine Learning</h1>
            <p class="text-center font-light">Telkonologi yang sangat banyak manfaat, namun penting untuk memahami cara kerjanya sebelum menggunakannya.</p>
            <a href="{{ url_for('data_sample') }}">
                <div class="read-more-button flex align-middle justify-center">
                    <button><a href="{{ url_for('data_sample') }}" class="font-semibold text-3xl text-white">Selengkapnya</a></button>
                </div>
            </a>
        </div>
        
    </div>
</div>
<!-- end-education-selaawi -->
<!-- address -->
<div id="address">
    <div class="flex justify-center" id="about-us-header">
        <h1 class="text-3xl font-header-color my-10">KAMI BERADA <SPAN class="font-color-E86A33">DISINI</SPAN></h1>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126723.15723662979!2d107.92684210944789!3d-6.997661284845236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68cb7dab306ed5%3A0xc429b6e1e9ab7a9!2sSelaawi%2C%20Garut%20Regency%2C%20West%20Java!5e0!3m2!1sen!2sid!4v1707829394694!5m2!1sen!2sid" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- end-address -->
{% endblock content %}