* {
    font-family: 'Inter var', sans;
}

/* Color pallete */
.bg-primary-color {
  background-color: #41644A;
}
.bg-secondary-color {
  background-color: #41644AB2;
}
.bg-tertiary-color {
  background-color: #D9D9D9;
}
.bg-navbar-color {
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bg-footer-color {
  background-color: #F5F5F5;
}

.bg-button-user-color {
  background-color: #CD5C08;
}

.bg-button-user-color:hover {
  background-color: #CD5C08B2;
}

.font-header-color {
  color: #41644A;
  font-weight: 700;
}

.font-color-highlight {
  color: #18551E;
}
.font-color-E86A33{
  color: #E86A33;

}
.font-color-link {
  color: #CD5C08;
}
.font-color-link:hover {
  color: #CD5C08B2;
}

.border-color {
  border-color: #CD5C08;
}
.border-color:hover {
  border-color: #CD5C08B2;
}