* {
  font-family: 'poppins', poppins;
}

/* Color pallete */
.bg-primary-color {
  background-color: rgba(65, 100, 74, 1);
}

.bg-secondary-color {
  background-color: #41644AB2;
}

.bg-subheader-aboutdataset{
  background-color:rgba(65, 99, 71, 0.4);
}

.bg-tertiary-color {
  background-color: #D9D9D9;
}

.bg-quaternary-color {
  background-color: #F5F5F5;
}

.bg-navbar-color {
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg-footer-color {
  background-color: #F5F5F5;
}

.bg-button-user-color {
  background-color: #CD5C08;
}

.bg-button-user-color:hover {
  background-color: #CD5C08B2;
}

.bg-cocok {
  background-color: rgba(65, 100, 74, 0.7)
}

.bg-tidak-cocok {
  background-color: rgba(200, 121, 121, 1)
}

.font-header-color {
  color: #41644A;
  font-weight: 700;
}

.font-base-color {
  color: rgba(0, 0, 0, 0.881);

}

.font-color-highlight {
  color: #18551E;
}

.font-color-E86A33 {
  color: #E86A33;

}

.font-color-link {
  color: #CD5C08;
}

.font-color-link:hover {
  color: #CD5C08B2;
}

.border-color {
  border-color: #CD5C08;
}

.border-color:hover {
  border-color: #CD5C08B2;
}

.border-oren {
  border: 2px solid #CD5C08;
}

/* predictions page pallete */
.bg-predictions-content-color {
  background-color: #f5f5f5a8;
  box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.138);
}

.bg-header-predictions-color {
  background-color: rgb(248 248 248);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.138);
}

.bg-subheader-predictions-color {
  background-color: rgba(65, 100, 74, 0.742)
}

.font-predictions-color-header {
  color: rgba(0, 0, 0, 0.7);
}

.bg-dashboard-color {
  background-color: #41644A;
}

.border-dashboard {
  /* border-color: #416349; */
  /* background-color: #f5f5f5a6; */
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #416349;
}


/* .border-dashboard:hover {
  cursor: context-menu;
  box-shadow: inset 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
} */

.font-dashboard {
  color: #41644A;
}

.bg-dashboard-color {
  background-color: #41644A;
}


.bg-button-settings {
  background-color: #2D95F0;
}

.bg-button-reddd {
  background-color: rgba(177, 64, 64, 0.2);
}

.font-button-redd {
  color: #B14040;
}

.border-color-redd {
  border-color: #B14040;
}

.tdkCocok{
  color: rgb(232 106 51);
}
.cocok{
 color: rgb(51 106 232); 
}