* {
    font-family: 'Inter var', sans;
}

/* sidebar navbar dropdown */
#sidebar {
    background-color: #F5F5F5;
    color: #41644A;
    width: 21%;
    min-height: 100vh;
}

.dropdown-content {
    position: absolute;
    visibility: hidden;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    opacity: 0;
}

.dropdown-content-show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}

/* and symbol in css */

#sidebar>ul>li:hover,
#dropdown-menu>.dropdown-content-show>li:hover {
    background-color: rgb(217 217 217 / 42%);
    /* drop shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#dropdown-menu>.dropdown-content-show>li {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}

#arrow-up {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

/* end sidebar */
/* buat  */

#right-content {
    /* background-color: blue; */
    width: 100%;
    /* padding: 20px; */

}

#right-content>#navbar {
    background-color: #F5F5F5;
    color: #000000;
    /* drop shadow */

    padding: 10px;
    margin-bottom: 20px;
}

#navbar>.dropdown-content-show {
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: -10px;
    padding: 10px;
    padding-top: 0 10px;
}