{% extends 'base.html' %}
{% block tailwind %}
  
{% endblock tailwind %}
{% block link %}
  <link rel="stylesheet" href="{{ url_for('land_predict.static', filename='css/add_manual_data.css') }}">
{% endblock link %}
{% block content %}
<div class="flex justify-center w-full">
  <div class="w-4/5">
    <div id="content-header" class="w-full">
      <h1 class="">Add Manual Data</h1>
    </div>
    <!-- flash message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div id="content-main">
      <form action="" method="post">
        <!-- Humidity -->
        <div class="form-group">
          <label for="humidity">Humidity</label>
          <input type="text" class="form-control" id="humidity" name="humidity" required>
        </div>
        <!-- Nitrogen -->
        <div class="form-group">
          <label for="nitro">Nitrogen</label>
          <input type="text" class="form-control" id="nitro" name="nitro" required>
        </div>
        <!-- Phosphor -->
        <div class="form-group">
          <label for="phosphor">Phosphor</label>
          <input type="text" class="form-control" id="phosphor" name="phosphor" required>
        </div>
        <!-- Pottasium -->
        <div class="form-group">
          <label for="pottalium">Pottasium</label>
          <input type="text" class="form-control" id="pottalium" name="pottalium" required>
        </div>
        <!-- Soil Type -->
        <div class="form-group">
          <label for="soil">Soil Type</label>
          <input type="text" class="form-control" id="soil" name="soil" required>
        </div>
        <!-- PH -->
        <div class="form-group">
          <label for="ph">PH</label>
          <input type="text" class="form-control" id="ph" name="ph" required>
        </div>
        <!-- Temperature -->
        <div class="form-group">
          <label for="temperature">Temperature</label>
          <input type="text" class="form-control" id="temperature" name="temperature" required>
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
    </div>
  </div>

    <!-- <form action="" method="post">
        <input type="text" name="humidity">
        <input type="text" name="nitro">
        <input type="text" name="phosphor">
        <input type="text" name="pottalium">
        <input type="text" name="soil">
        <input type="text" name="ph">
        <input type="text" name="temperature">
        <button type="submit">prediksi</button>
    </form> -->
    
        <!-- /#page-content-wrapper -->

<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}    
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- <h1>{{prediction}}</h1> -->
{% endblock content %}