 {% extends 'base.html' %}

 {% block css_url %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/pred/dashboard.css') }}">
 {% endblock css_url %}
 
 {% block content %}

 <!-- about dataset -->
 <div class="flex flex-col items-center">
    <div class="w-5/6">
        <div id="content-header" class="w-full bg-header-predictions-color rounded-md p-3 mb-8">
            <h1 class="text-2xl font-semibold font-predictions-color-header">About The Dataset</h1>
        </div>  
    </div>
    <div class="flex w-full p-10" id="about-dataset">
        <div class="w-1/2" id="content-left">
            <p class="text-justify mt-5">The dataset used consists of 
                7984 rows of data. The processed data is numeric and includes
                 7 features and 1 label. The dataset consists of 2 classes, 
                 namely "Cocok" and "Tidak". The data source comes from a
                sensor placed in Selaawi, Garut Regency, right in front of 
                the BPP Selaawi office. The focus of this research is on shallot plants. 
                The time span of data collection involves August, September, October, and November 2023, 
                starting from the planting phase, generative phase, vegetative phase, to harvest phase.
            </p>
        </div>
        <div class="w-1/2 flex justify-center" id="content-right">
            <img class="rounded-md" id="dataset" src="{{ url_for('static', filename='img/user/Statistics-pana.png') }}"
            alt="">
        </div>
    </div>
</div>





 {% endblock content %}