{% extends 'base.html' %}

{% block css_url %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pred/form.css') }}">

{% endblock css_url %}

{% block content %}
<div class="flex justify-center w-full">
    <!-- header -->
    <div class="w-4/5">
        <div id="content-header" class="w-full bg-header-predictions-color rounded-md p-4 mb-8">
            <h1 class="text-2xl font-bold font-predictions-color-header">Real Time</h1>
            <p class="font-predictions-color-header mt-5">Real Time merupakan salah satu fitur dari menu prediksi dimana
                data real time adalah fitur perhitungan sistem klasifikasi dengan data yang di ambil dari sensor yang di
                tanam di kantor BPP. Berikut merupakan langkah - langkah penggunaan fitur real-time.</p>
        </div>
        <!-- form content -->
        <div class="flex justify-center mb-5">
            <div id="content-main" class="w-5/6 bg-predictions-content-color rounded-b-md">
                <h1 class="text-center font-semibold text-xl bg-primary-color py-3 rounded-t-md text-slate-100">Form
                    Upload</h1>
                <form action="" method="post">
                    <div class="flex flex-col gap-y-3 p-6">
                        <div class="form-group">
                            <label for="start_date">Start Date</label>
                            <input type="datetime-local"
                                class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="start_date" name="start_date" placeholder="YYYY-MM-DD HH:MM:SS"
                                min="2024-04-25T00:00:00" max="2024-12-31T23:59:59" required>
                        </div>
                        <div class="form-group">
                            <label for="end_date">End Date</label>
                            <input type="datetime-local"
                                class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="end_date" name="end_date" min="2024-04-25T00:00:00" max="2024-12-31T23:59:59"
                                placeholder="YYYY-MM-DD HH:MM:SS" required>
                        </div>
                        <div class="form-group">
                            <label for="alghoritm">Algoritma: </label>
                            <select name="alghoritm"
                                class="shadow appearance-none border rounded w-2/4 py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="alghrotim">
                                <option value="knn">K-Nearest Neighbors</option>
                                <option value="dt">Decision Tree</option>
                                <option value="rf">Random Forest</option>
                            </select>
                        </div>
                    </div>

                    <div class="flex justify-end me-14 mb-5">
                        <button type="submit"
                            class="px-5 py-2 rounded bg-button-user-color font-medium text-slate-100">Jalankan</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end form content -->
    </div>

</div>


{% endblock content %}