
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-group label{
    margin-right: 10px;
    flex-basis: 15%;
    font-weight: 600;
    color: #2f2e2e;
}
.form-group input{
    flex-basis: 75%;
}

input::placeholder{
    font-size: 10pt;
}
