#content-header,
#about-dataset {
    margin-left: 90px;
    margin-right: 90px;
}



#gambar1 {
    width: 50px;

}

#tulisan-dashboard {
    font-weight: 600;
    font-size: 28px;
    font-family: poppins;
}